---
import "@src/styles/fonts.css";
import "@src/styles/reset.css";
import Transpiler from "@src/components/Transpiler.astro";

const title = "Transpile ES6+ JavaScript to ES5 code";
const description =
  "Webapp to transform modern JavaScript to " +
  "ECMAScript 2009 (ES5) compatible using Babel Standalone.";
---

<html lang="en">
  <head>
    {/* Character encoding */}
    <meta charset="utf-8" />

    {/* Primary SEO Tags */}
    <title>JavaScript to ES5 Transpiler</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content="Pablo Cru Delhom" />
    <link rel="canonical" href={Astro.url} />

    {/* Consistent user experience across different mobile devices */}
    <meta name="viewport" content="width=device-width" />

    {/* Credit to Astro */}
    <meta name="generator" content={Astro.generator} />

    {/* Favicon */}
    <link rel="icon" href={import.meta.env.BASE_URL + "/favicon.ico"} />
  </head>
  <body>
    <header>
      <h1>{title}</h1>
      <p>
        Webapp to transform modern JavaScript to
        <a href="https://www.geeksforgeeks.org/javascript-es5-js-2009/"
          >ECMAScript 2009 (ES5)</a
        > compatible using <a href="https://babeljs.io/docs/babel-standalone"
          >Babel Standalone</a
        >.
      </p>
    </header>
    <main>
      <Transpiler />
    </main>
  </body>
</html>
