---
import "@src/styles/fonts.css";
import Codearea from "@src/components/Codearea.astro";
import { transpileToES5 } from "@src/lib/transpile-to-es5";

const title = "JavaScript to ES5 Transpiler";
const description =
  "Webapp to convert modern JavaScript to " +
  "ECMAScript 2009 (ES5) compatible using Babel Standalone.";

const inputBody = "const a = 5;";
const outputBody = transpileToES5(inputBody);
---

<html lang="en">
  <head>
    {/* Character encoding */}
    <meta charset="utf-8" />

    {/* Primary SEO Tags */}
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content="Pablo Cru Delhom" />
    <link rel="canonical" href={Astro.url} />

    {/* Consistent user experience across different mobile devices */}
    <meta name="viewport" content="width=device-width" />

    {/* Credit to Astro */}
    <meta name="generator" content={Astro.generator} />

    {/* Favicon */}
    <link rel="icon" href={import.meta.env.BASE_URL + "/favicon.ico"} />
  </head>
  <body>
    <header>
      <h1>{title}</h1>
      <p>{description}</p>
    </header>
    <main>
      <Codearea id="input" body={inputBody} />
      <button id="transpile">transpile</button>
      <Codearea id="output" readonly body={outputBody} />
      <script src="../lib/transpiler-client.ts"></script>
    </main>
  </body>
</html>
